MOSH/Node Red/flows_evan.json
[{"id":"f4b5a1a7.0fe798","type":"tab","label":"TTN_SendMessage","disabled":false,"info":""},{"id":"c4d0255b.3f67a","type":"tab","label":"TTN_ReceiveMessage","disabled":false,"info":""},{"id":"e94dae23.a03f98","type":"Generic BLE","z":0,"localName":"HR_L475_IoT","address":"ab:85:25:10:87:54","uuid":"ab8525108754","muteNotifyEvents":false,"operationTimeout":"","characteristics":[{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"2a04","name":"Peripheral Preferred Connection Parameters","type":"org.bluetooth.characteristic.gap.peripheral_preferred_connection_parameters","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a37","name":"Heart Rate Measurement","type":"org.bluetooth.characteristic.heart_rate_measurement","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"2a38","name":"Body Sensor Location","type":"org.bluetooth.characteristic.body_sensor_location","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a39","name":"Heart Rate Control Point","type":"org.bluetooth.characteristic.heart_rate_control_point","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false}]},{"id":"4ce7c132.211a","type":"ttn app","z":"","appId":"djebar_tissot_sensor","accessKey":"ttn-account-v2.rKzePFjCawm1BQLIp7PvBzsWJhK1PuObJXzigMOCRJE","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"eca73fea.09c7c8","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"ad618c53.9f88d8","type":"ui_group","z":"","name":"Dashboard","tab":"eca73fea.09c7c8","disp":true,"width":"20","collapse":false},{"id":"b154baa3.4066b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b262d8c.3fd9e28","type":"ttn downlink","z":"f4b5a1a7.0fe798","d":true,"name":"GazSensorDevice","app":"4ce7c132.211a","dev_id":"djebar_tissot_device","port":"1","confirmed":false,"schedule":"replace","x":510,"y":140,"wires":[]},{"id":"de0da51b.726d","type":"function","z":"f4b5a1a7.0fe798","name":"","func":"return ({\n    schedule: \"last\",\n    confirmed: false,\n    payload: Buffer.from([0x62, 0x75, 0x66, 0x66, 0x65, 0x72])\n    \n})","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["1dcdf8e4.4ed537","b262d8c.3fd9e28"]]},{"id":"1dcdf8e4.4ed537","type":"debug","z":"f4b5a1a7.0fe798","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":260,"wires":[]},{"id":"4e08305f.f9829","type":"inject","z":"f4b5a1a7.0fe798","d":true,"name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":90,"y":180,"wires":[["de0da51b.726d"]]},{"id":"9feb4652.b476","type":"ttn uplink","z":"c4d0255b.3f67a","name":"","app":"4ce7c132.211a","dev_id":"djebar_tissot_device","field":"","x":280,"y":180,"wires":[["3ddc6114.51953e"]]},{"id":"3ddc6114.51953e","type":"function","z":"c4d0255b.3f67a","name":"","func":"var maChaine = String.fromCharCode.apply(null, new Uint16Array(msg.payload));\nvar newMesg = {payload : maChaine}\nreturn newMesg;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["4c4c237d.6976c4","83f95bb8.b07fd8"]]},{"id":"4c4c237d.6976c4","type":"debug","z":"c4d0255b.3f67a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":400,"wires":[]},{"id":"83f95bb8.b07fd8","type":"ui_chart","z":"c4d0255b.3f67a","name":"","group":"ad618c53.9f88d8","order":0,"width":"20","height":"7","label":"MyValue","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":820,"y":220,"wires":[[]]}]